/*----------------------------------------

                LOGIN FORM

------------------------------------------*/

.form{
    margin: 0 auto;
    width: 310px;
    position: relative;
    top: 0;
}

.block
{
  max-width: 345px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 18rem;
}

.input
{ 
  position: relative; 
  margin-bottom:45px; 
  margin-top: 12px;
}

input
{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #3f51b5;
  border-radius: 0px;
}

input:focus
{
  outline:none;
}

label
{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label
{
  font-size:14px;
  color:#3f51b5;
  top:-20px;
}

.bar
{
  position:relative;
  display:block;
  width:315px;
}

.bar:before, .bar:after
{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#3f51b5; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before
{
  left:50%;
}

.bar:after
{
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after
{
  width:50%;
}

.highlight
{
  position:absolute;
  height:60%; 
  width:325px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight
{
  -webkit-animation:inputlighter 0.3s ease;
  -moz-animation:inputlighter 0.3s ease;
  animation:inputlighter 0.3s ease;
}

@-webkit-keyframes inputlighter
{
	from
  {
    background:#3f51b5;
  }
  to
  {
    width:0; background:transparent;
  }
}

@-moz-keyframes inputlighter
{
	from
  {
    background:#3f51b5;
  }
  to
  { 
   width:0; background:transparent;
  }
}
@keyframes inputlighter
{
	from
  {
    background:#3f51b5;
  }
  to
  {
    width:0; background:transparent;
  }
}

.btn{
    width: 19.8rem;
    height: 2rem;
    background-color: black;
    box-shadow: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    transition: .3s;
}

.btn:hover{
    background-color: #EB092F;
    color: black;
}