/*----------------------------------------

                NAVIGATION

------------------------------------------*/

.navbar {
    background-color: black;
    width: 100%;
    height: 3rem;
    position: fixed;
    z-index: 20;
}

.navbar-nav{
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.nav-item{
    display: inline-block;
    font-size: .8rem;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 1rem;
  }

.link:hover{
    color: lightgray;
}

/*----------------------------------------

            NAVIGATION - MAIN

------------------------------------------*/

.navbar-main {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    position: relative;
    top: 13rem;
    margin: 0 auto;
}

.navbar-nav-main{
    position: absolute;
    top: 0;
    left: 54%;
    transform: translateX(-50%);
    width: 44%;
}

.nav-item-main{
    display: inline-block;
    font-size: .8rem;
    margin: 0 2rem;
}

.link-main {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .3s;
  }

.link-main:hover{
    border-bottom: 1.5px solid #0c0091;
    padding: 10px 0;
}

.fa-facebook{
    position: fixed;
    top: 0.8rem;
    color: white;
    z-index: 30;
    right: 3rem;
    font-size: 21px;
}

.fa-twitter{
    position: fixed;
    top: 0.8rem;
    color: white;
    z-index: 30;
    right: 6rem;
    font-size: 21px;
}

.fa-facebook:hover,
.fa-twitter:hover{
    color: lightgray;
}