/*----------------------------------------

                NAVIGATION

------------------------------------------*/

.navbar {
    background-color: black;
    width: 100%;
    height: 3rem;
    position: relative;
}

.navbar-nav{
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.nav-item{
    display: inline-block;
    font-size: .8rem;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 1rem;
  }

.link:hover{
    color: lightgray;
}

/*----------------------------------------

            NAVIGATION - MAIN

------------------------------------------*/

.navbar-main {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    position: relative;
    top: 10rem;
    margin: 0 auto;
}

.navbar-nav-main{
    position: absolute;
    top: 0;
    left: 54%;
    transform: translateX(-50%);
    width: 60%;
}

.nav-item-main{
    display: inline-block;
    font-size: .8rem;
    margin: 0 2rem;
}

.link-main {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .5s;
  }

.link-main:hover{
    border-bottom: 1.5px solid red;
    padding: 10px 0;
}