.blog-post {
    position: absolute;
    top: 6rem;
    left: 50%;
    margin-bottom: 3rem;
    margin-right: 6rem;
    top: 18rem;
    
}

.title{
    font-size: 40px;
    margin-bottom: 1rem;
    position: inherit;
}

.content{
    font-size: 18px;
    margin-bottom: 1rem;
}

.author-date{
    text-align: right;
}