.add_comment_form{
    position: absolute;
    left: -100%;
    top: 5rem;
}

.add_comment_area{
  width: 31rem;
  height: 12rem;
}

.addComment-title{
  position: relative;
  top: -3rem;
}

.addComment-author{
  position: relative;
  top: 0;
}